/* importing inter font from fonts.google.com */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

/* default body styles */
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  overflow-x: hidden;
  background-color: #f1f1f1;
  /* adding imported font */
  font-family: "Inter", sans-serif !important;
}

/* variables */
:root {
  --grey-50: #656266;
  --grey-100: #616161;
  --grey-200: #322f33;
  --grey-300: #1c181d;
  --light: #e3e3e3;
  --mid: #616161;
  --dark: #475467;
  --s50: #ebebeb;
  --s100: #000000/7%;
  --s200: #FFFFFF/20%;
}

a {
  text-decoration: none;
  outline: none;
}

/* navbar */
.navbar {
  background-color: var(--grey-300);
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}

.dropdown {
  position: absolute;
  z-index: 2;
  right: 0%;
  top: 100%;
  margin: 10px;
  margin-right: 15px;
  width: 280px;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px #0000001c;
  border-radius: 8px;
}

.drop_wrap {
  padding: 5px;
  border-bottom: 1px solid var(--light);
}

.flex {
  display: flex;
  flex-direction: row;
}

.mt-3 {
  margin-top: 5px;
}

.border-0 {
  border: none;
}

.border {
  border: 1px solid #e3e3e3a9;
}

.drop_link svg path {
  fill: #000000;
}

.text-sm {
  font-size: 12px;
}

.d-none {
  display: none;
}

.w-full {
  width: 100%;
}

.text-gray {
  color: #00000075;
}

.text-base {
  font-size: 15px;
}

.text-dark {
  color: #000000;
}

.text-md {
  font-size: 14px !important;
}

.text-lg {
  font-size: 16px;
}

.drop_link {
  width: 100%;
  padding: 8px;
  background-color: transparent;
  transition: 0.2s ease-in;
  border: none;
  outline: none !important;
  outline-offset: 1px;
  border-radius: 10px;
}

.drop_link.no_ico {
  padding: 10px;
}

.p-3 {
  padding: 8px;
  text-align: left;
}

.drop_link:hover {
  background-color: #e3e3e363;
}

.drop_link:active {
  background-color: #e3e3e363;
}

.drop_link:focus {
  background-color: transparent;
  box-shadow: 0px 0px 0px 2px #005bd3;
}

.d-block {
  display: block;
}

.profile_drop_btn {
  width: 100%;
  padding: 5px;
  background-color: #e3e3e363;
  border-radius: 8px;
}

.items-center {
  align-items: center;
}

.mr-auto {
  margin-right: auto;
}

.form_wrap {
  position: relative;
  width: 100%;
  height: fit-content;
}

.gap-5 {
  gap: 0.5rem;
}

.font-medium {
  font-weight: 500 !important;
}

.font-bold {
  font-weight: 600;
}

.form-control {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 10px;
  transition: 0.2s ease-in;
  border: none;
  box-shadow: 0px 0px 0px 1px var(--grey-100);
  background-color: var(--grey-200);
  outline: none;
  padding-left: 30px;
  color: var(--light);
  font-size: 14px;
  font-weight: 400;
}

.form-control:hover {
  box-shadow: 0px 0px 0px 1px var(--light);
}

.form-control:active {
  box-shadow: 0px 0px 0px 2px var(--light);
}

.form-control:focus {
  box-shadow: 0px 0px 0px 2px var(--light);
}

.search_ico {
  position: absolute;
  top: 0%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30px;
}

.search_ico path {
  fill: var(--grey-100);
}

.notification_profile_btn_wrap {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  justify-content: end;
  align-items: center;
}

.btn {
  background-color: var(--grey-200);
  height: 100%;
  width: 40px;
  display: flex;
  justify-content: center;
  padding: 0;
  align-items: center;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.cursor_pointer {
  cursor: pointer;
}

.btn-white {
  background-color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  transition: 0.2s ease-in;
  outline-offset: 2px;
}

.btn-white:hover {
  box-shadow: 0px 0px 0px 1px var(--light);
}

.btn-white:focus {
  outline: 2px solid #005bd3 !important;
}

.btn_profile {
  background-color: var(--grey-200);
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  padding: 3px;
  align-items: center;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.btn_profile .profile_wrap {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.name_wrap {
  padding: 0 5px;
  font-size: 14px;
  color: var(--light);
  opacity: 0.7;
}

.btn_name {
  padding: 10px;
  background-color: #36fba1;
  border-radius: 8px;
}

.btn path {
  fill: var(--light);
  opacity: 0.7;
}

.step_link {
  color: #005bd3;
}

.btn-dark {
  background-color: #404040;
  padding: 10px 15px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 400;
  box-shadow: -1px -1px 0px 1px #000000 inset, 1px 1px 0px 1px #5f5e5e inset;
  border-radius: 8px;
  transition: 0.2s ease-in;
  outline-offset: 1px;
}

.btn-dark:active {
  box-shadow: -1px 1px 0px 2px #000000 inset;
}

.btn-dark:focus {
  outline: 2px solid #005bd3 !important;
}

.active {
  background-color: #f3f3f3;
}

.step_main img {
  display: none;
}

.active img {
  display: block;
}

.step_content {
  display: none;
}

.active .step_content {
  display: block;
}

.lg_hidden {
  display: none;
}

.step_main .btn_transparent {
  background-color: #e7e7e7;
  padding: 8px 15px;
  border-radius: 8px;
  transition: 0.2s ease-in;
}

#wrapper_btn {
  background-color: transparent;
  padding: 0px 2px;
  border-radius: 6px;
  transition: 0.2s ease-in;
}

#wrapper_btn:hover {
  background-color: #e7e7e7;
}

.step_main .btn_transparent:focus {
  box-shadow: 0px 0px 0px 2px #005bd3;
  background-color: #ffffff;
}

/* main */
main {
  padding: 30px 0px;
  max-width: 750px;
  margin: 0px auto;
}

.callout {
  padding: 15px 20px;
  background-color: var(--grey-300);
  position: relative;
  border-radius: 10px;
}

.rounded {
  border-radius: 10px;
}

.mt-4 {
  margin-top: 15px;
}

.mt-5 {
  margin-top: 20px;
}

.bg-light {
  background-color: #f1f1f1;
}

#notifaction_drop {
  width: 430px !important;
}

.progress {
  position: relative;
  width: 100px;
  height: 5px;
  border-radius: 50px;
  background-color: #f1f1f1;
}

.bar {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 20%;
  transition: 0.2s ease-in;
  height: 100%;
  border-radius: 50px;
  background-color: #000000;
}

.setup_wrap svg path {
  fill: #000000;
}

.pt-5 {
  padding-top: 10px;
}

.text-light {
  color: var(--grey-100);
}

.gap-10 {
  gap: 1.5rem;
}

.p-5 {
  padding: 20px;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  outline-offset: 1px;
}

button:focus {
  outline: 2px solid #005bd3;
}

.border {
  border: 1px solid var(--light);
}

.text-white {
  color: #ffffff;
}

/* responsive design */
/* desktop */
.lg_brand {
  display: block;
}

.sm_brand {
  display: none;
}

.btn_transparent {
  background-color: transparent;
  border: none;
}

.step_main_head {
  height: fit-content;
  width: fit-content;
  padding: 8px;
  transition: 0.2s ease-in;
  border-radius: 10px;
  outline: none !important;
  background-color: transparent;
  outline-offset: 1px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.step_main_head:focus {
  outline: 2px solid #005bd3 !important;
  background-color: transparent;
}

.steps_ico {
  display: flex;
  align-items: center;
  height: fit-content;
  padding: 7px 0px;
}

.bg-white {
  background-color: #ffffff;
}

/* mobile */
@media screen and (max-width: 600px) {
  .sm_brand {
    display: block;
  }

  .lg_brand {
    display: none;
  }

  .name_wrap {
    display: none;
  }

  .form_wrap {
    width: 100%;
  }

  .btn {
    height: fit-content;
    width: fit-content;
    background-color: transparent;
  }

  .navbar {
    grid-template-columns: 1fr 5fr 1fr;
  }

  main {
    max-width: 100%;
  }

  #notifaction_drop {
    width: fit-content !important;
    text-align: center;
  }

  .callout .close_ico {
    position: absolute;
    top: 0%;
    right: 0%;
    margin: 30px 10px;
  }

  .callout {
    padding: 10px;
    border-radius: 0%;
  }

  .callout .flex {
    flex-direction: column;
    align-items: start !important;
    gap: 1rem;
  }

  .setup_wrap.rounded {
    border-radius: 0px;
  }

  .step_img_cont {
    display: none;
  }

  .step_sub_text {
    display: inline;
  }

  .lg_hidden {
    display: block;
  }
}
